.startPage-username {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.startPage {
    display: flex;
}

.startPage-logo{
    height: 64px;
    width: 64px;
}