html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.StartPage_username,
.StartPage_description {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
    font-size: 18px;
}

.StartPage_description_plus {
    font-size: 18px;
    margin-top: 20px;
}


.button-primary-button {
    padding: 10px 15px;
    background:  #fff;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    width: 80vw;
    height: 48px;
    font-size: 20px;
}




.StartPage_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.StartPage_image {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-bottom: 40px;
}

.StartPage_image_img {
    height: 40vh;
    width: 100%;
}

.StartPage_text_wrapper {
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
}

.startpage-button {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    background-color: #27a7e7; /* Фон кнопки */
    color: white; /* Цвет текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренние отступы */
    margin-bottom: 10px; /* Нижний отступ между кнопками */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор в виде руки */
    width: 100%; /* Кнопки занимают всю ширину контейнера */
    
}

.StartPage_description {
    margin-top: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content .modal-button {
    background-color: #27a7e7; /* Фон кнопки */
    color: white; /* Цвет текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренние отступы */
    margin-bottom: 10px; /* Нижний отступ между кнопками */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор в виде руки */
    width: 100%; /* Кнопки занимают всю ширину контейнера */
}

.modal-content {
    width: 40vw;
    display: flex;
    
}

.modal-content .primary-button:last-child {
    margin-bottom: 0; /* Убираем нижний отступ у последней кнопки */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Отступы между кнопками */
    
}


