html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/background-main.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.startPage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.startPage-logo-img {
    margin-bottom: 250px;
    height: 500px;
    width: 500px;
}

.startPage-username {
    margin-top: 10px;
}

.startPage-username,
.startPage-description {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    font-size: 18px;
}

.startPage-description {
    margin-top: 15px;
    margin-bottom: 15px;
}

.primary-button {
    padding: 10px 15px;
    background: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    width: 80vw;
    height: 48px;
    font-size: 20px;
}


/* Адаптивные стили для маленьких экранов */
@media (max-width: 768px) {
    .startPage {
        padding: 10px;
    }
    
    .startPage-logo-img {
        height: 80px;
        width: 80px;
        margin-bottom: 15px;
    }
    
    .startPage-username {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .primary-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
