.LongRead {
    display: flex;
    flex-direction: column;
}

img {
    width: 100vw;

}


.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Высота на весь экран */
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff; /* Цвет текста */
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }

.loading-text {
    margin-top: 20px;
    font-family: 'Montseratt', sans-serif;
    font-size: 18px;
    font-weight: normal;
}