.LongRead {
    display: flex;
    flex-direction: column;
}

img {
    width: 100vw;

}


.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Высота на весь экран */
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff; /* Цвет текста */
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }

.loading-text {
    margin-top: 20px;
    font-family: 'Montseratt', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.back-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый цвет */
  color: #000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1000;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  font-family: 'Montseratt', sans-serif;
  font-size: 18px;
  width: 50vw;
  
}


